*{
    margin: 0;
    padding: 0;
    
}
form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color: #00ccbb;
    max-width: 500px;
}


#titulo {

    font-family: sans-serif;
    color: #000000;
    margin-left: 7%;
} 

#subtitulo {
    font-family: sans-serif;
    color: #000000;
    margin-left: 10%;
} 


fieldset .conjunto {
    border:none;
    

}

#check{
    display: inline-block;
}


body{
   
    display: block;
    background-color: #00ffbb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: #000000;
    margin-left: 36%;
    margin-top: 1%;
    justify-content: left;
}


input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    border-radius: 5px;
    
}


.conjunto:before, .conjunto:after {
    display: table;
}


.conjunto:after {
    clear: both;
}


.campo {
    margin-bottom: 1%;
}


.campo label {
    margin-bottom: 0.2em;
    color: #000000;
    display: block;
}


fieldset.conjunto .campo {
    float: left;
    margin-right: 1em;
}




.campo input[type="text"], .campo input[type="email"],.campo input[type="whatsapp"] , .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}


.campo select option {
    padding-right: 1em;
}


.campo input:focus, .campo select:focus, .campo textarea:focus, input:hover, textarea:hover {
    
    border-color: #000066;
    box-shadow: 3px 0px 6px #6652ff;
    background-color: #66FFFF;
    color: black;
    font-weight: bold;
}


.botao {
    font-size: 1.2em;
    background: #2c2c2c;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
   
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 106%;
    left: 71.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.botao:hover {
    background: #0e73a9;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}




